.ipynb_checkpoints/
.vscode/
.idea/
__pycache__/
build/
dist/
docs/_build/
tsfewshot.egg-info/
runs/
notebooks/

backup/
configs/
!experiments/sinusoid/configs/
!experiments/hydrology/configs/
!experiments/nl-rlc/configs/
!experiments/miniimagenet/configs/

.coverage
.DS_Store
*config.yml
!example-config.yml
!experiments/miniimagenet/configs/*.yml
!experiments/nl-rlc/configs/*.yml
slurm-*.out
*.sh
